input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus, select:focus{
    outline: none;
} 

.card-input-box {
    width: 500px;
    height: fit-content;
    border: 0px ;
    border-radius: 10px;
    background: linear-gradient( to left,#0bccd3,#545854);
    margin: auto;
    padding: 20px;
    font-size: 17px;
}

.card-number, .mon-year , .name, .pay {
    display: flex;
}

label {
    margin-left: 10px;
    color: white;
    font-weight: bolder;
}

.expiry {
    display: flex;
    justify-content: space-between;
}

input[type="text"], select {
    -moz-appearance: textfield;
    width: 95px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    margin: 10px;
    font-size: 19px;
}

#name {
    width: 95%;
}

#cvc {
    width: 150px;
}

button {
    text-transform: uppercase;
    border: 0px;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    background: linear-gradient( to right,#229ee6,#74ec11);
    color: rgb(31, 30, 29);
}



@media(max-width : 550px){
    .card-input-box {
        width: 320px;
    }
    .expiry {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    #cvc {
        width: 290px
    }
    input[type="text"] {
        width: 50px;
    }
}