.card-details {
    width: 500px;
    height: fit-content;
    border: 0px ;
    border-radius: 10px;
    background: linear-gradient( to left,#0bccd3,#545854);
    margin: auto;
    padding: 20px;
    font-size: 17px;
}